<div class="container content">

  {{!-- <div class="container">
    <div class="row">
      <div class="col-12"> --}}
  <h1>Burger Time!</h1>

  <form>
    <div class="form-group">
      <input type="text" required placeholder="Add a burger" class="form-control" name="burger_name">
    </div>

    <button type="submit" class="btn btn-primary">Add burger</button>
  </form>

  {{!-- </div>
    </div>
  </div> --}}


  <div class="container">
    <div class="row">
      <div id="undevoured" class="content-burger col-6">
        {{#each burgers}}
        {{#if devoured}}
        <div class="content-burger__list" id={{id}}>
          {{!-- <img src="/public/assets/img/burger.jpg" alt="burger"> --}}
          <p>{{burger_name}} </p>
          <button class="btn btn-primary devoured" data-id="{{id}}">
            Eat burger
          </button>
        </div>
        {{/if}}
        {{/each}}
      </div>

      <div class="content-devoured col-6">
        {{#each burgers}}
         {{#unless devoured}}
        <div class="content-burger__list" id={{id}}>
          {{!-- <img src="/public/assets/img/burger.jpg" alt="burger"> --}}
          <p>{{burger_name}} </p>
          <button class="btn btn-primary devoured" data-id="{{id}}">
            Eat burger
          </button>
        </div>
        {{/unless}}
        {{/each}}
      </div>

    </div>
  </div>

</div>